<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>    
<plugins>
    <!-- com.github.pagehelper为PageHelper类所在包名 -->
    <plugin interceptor="com.github.pagehelper.PageInterceptor">
      <!-- offsetAsPageNumm：默认是false,设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用
      rowBoundsWithCount：默认是false, 设置为true时，使用RowBounds分页会进行count查询
      pageSizeZero：设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果
      
       -->
        <property name="supportMethodsArguments" value="true"/>
        <property name="params" value="pageNum=pageNumKey;pageSize=pageSizeKey;"/>
   
    </plugin>
    
  </plugins>
</configuration>